---

---

<style>
  html {
    background-color: #f7df1e;
  }
  body {
    height: 100vh;
    height: 100dvh;
    background: center center no-repeat;
    background-image: url('/bartjs.jpg');
    background-size: contain;
    overflow: hidden;
  }
</style>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>BartJS</title>
  </head>
  <body> </body>
</html>
