---
export const prerender = true;

import type { GetStaticPaths, Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

import Button from '@/components/Button.astro';
import Pagination from '@/components/Paginator.astro';
import RavioliPreview from '@/components/blog/RavioliPreview.astro';
import PageLayout from '@/layouts/BaseLayout.astro';
import BlogContent from '@/layouts/BlogContent.astro';
import { getAllPrefixed, getPost, sortMDByDate } from '@/utils';

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getAllPrefixed('ravioli/', true);
  const allPostsByDate = sortMDByDate(allPosts);
  console.log(allPostsByDate.map((i) => i.slug));
  return paginate(allPostsByDate, { pageSize: 10 });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<'post'>>;
  uniqueTags: string[];
}

const entry = await getPost(`ravioli`);

if (!entry) {
  return Astro.redirect('/404');
}

const { page } = Astro.props;

const meta = {
  description: 'Posts',
  title: 'Blog',
};

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: `← Previous Posts`,
      url: page.url.prev,
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      text: `Next Posts →`,
      url: page.url.next,
    },
  }),
};

const { Content } = await entry.render();
---

<PageLayout meta={meta}>
  <div class='w-full'>
    <Button title='Back' href='/' style='button'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='14'
        height='14'
        viewBox='0 0 24 24'
        slot='icon-before'
      >
        <path
          fill='currentColor'
          d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
        >
        </path>
      </svg>
    </Button>

    <BlogContent post={entry}>
      <Content />
    </BlogContent>

    {page.data.length === 0 && <p>No posts yet.</p>}

    <hr class='my-10' />

    <h2 class='mb-4 text-3xl'>Posts in series</h2>

    {
      page.data.length > 0 && (
        <div class='grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8'>
          <section aria-label='Blog posts list'>
            <ul class='flex flex-col gap-y-4 text-start'>
              {page.data.map((p, i) => (
                <RavioliPreview post={p} order={i + 1} />
              ))}
            </ul>
            <Pagination {...paginationProps} />
          </section>
        </div>
      )
    }
  </div>
</PageLayout>
