---
import type { HTMLTag, Polymorphic } from 'astro/types';
import type { CollectionEntry } from 'astro:content';

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  post: CollectionEntry<'post'>;
  withDesc?: boolean;
  order: number;
};

const { as: Tag = 'div', post, withDesc = false, order } = Astro.props as Props<HTMLTag>;
---

<li class='flex flex-col gap-2 sm:flex-row sm:gap-x-4 [&_q]:basis-full'>
  <Tag>
    {post.data.draft && <span class='text-red-500'>(Draft) </span>}
    <a
      data-astro-prefetch
      href={`/blog/${post.slug}/`}
      class='inline-flex items-center gap-1 transition-all hover:text-muted-foreground'
    >
      <h3 class='text-2xl'>{order}. {post.data.title}</h3>
    </a>
    {
      withDesc && (
        <p class='line-clamp-3 block text-sm italic text-muted-foreground'>
          {post.data.description}
        </p>
      )
    }
  </Tag>
</li>
